.first-container{
    margin: 100px;
}

.firts-container-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.carousel-container{
    display: flex;
    height: 100vh;
    

    justify-content: center;
}

.carousel-set{
    width: 50vw;

}

@media (min-width: 768px) { 


}